.App {
    background-color: #BB86FC;
    min-height: 100vh;
    width: 100vw;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    box-sizing: border-box;
}

.round {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #3700B3;
    color: white;
    margin: 20px 0;
}

.btn-style {
    border: 1px solid #3700B3;
    border-radius: 5px;
    background-color: white;
    color: #3700B3;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 15px;
    box-shadow: 2px 2px 2px #6200EE;
    margin: 5px;
}

.btn-style:hover {
    background-color: #F2E7FE;
}

.btn-style:focus {
    outline: none;
    box-shadow: 2px 2px 2px #6200EE;
}

.content {
    border: 2px dashed #985EFF;
    display: inline-block;
    padding: 30px;
    margin: 15px;
    background-color: cornflowerblue;
}

h4, h4 {
    color: #30009C;
}

.center {
    display: flex;
    align-items: center;
}

input {
    margin: 5px 0 !important;
    border: 1px solid #3700B3;
    color: #3700B3;
    padding-left: 10px;
}

label {
    color: #3700B3;
    font-weight: bolder;
}

/*input:focus {*/
/*    outline: none;*/
/*}*/

.modal-style {
    position: absolute;
    top: 50%;
    border: 2px solid #985EFF;
    background-color: white;
    padding: 20px;
    color: #3700B3;
}

#portal-root {
    display: flex;
    justify-content: center;
}
