.MenuToggle {
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 100;
    cursor: pointer;
    color: white;
    transition: all .44s ease-in;
    height: 100vh;
}

.MenuToggle:hover {
    opacity: .8;
}

.open {
    left: 16%
}
